[submodule "lz4"]
	path = lz4
	url = https://github.com/Qualenritter/PageBasedCompressionInTheLinuxKernel.git
	branch = lz4
[submodule "memcpy"]
	path = memcpy
	url = https://github.com/Qualenritter/PageBasedCompressionInTheLinuxKernel.git
	branch = memcpy
[submodule "bewalgo"]
	path = bewalgo
	url = https://github.com/Qualenritter/PageBasedCompressionInTheLinuxKernel.git
	branch = bewalgo
[submodule "interfaces"]
	path = interfaces
	url = https://github.com/Qualenritter/PageBasedCompressionInTheLinuxKernel.git
	branch = interfaces
[submodule "parallel"]
	path = parallel
	url = https://github.com/Qualenritter/PageBasedCompressionInTheLinuxKernel.git
	branch = parallel
[submodule "bewalgo-no-inline"]
	path = bewalgo-no-inline
	url = https://github.com/Qualenritter/PageBasedCompressionInTheLinuxKernel.git
	branch = bewalgo-no-inline
[submodule "bewalgo-if-vs-terniary"]
	path = bewalgo-if-vs-terniary
	url = https://github.com/Qualenritter/PageBasedCompressionInTheLinuxKernel.git
	branch = bewalgo-if-vs-terniary
[submodule "bewalgo-find-match-only"]
	path = bewalgo-find-match-only
	url = https://github.com/Qualenritter/PageBasedCompressionInTheLinuxKernel.git
	branch = bewalgo-find-match-only
[submodule "lz4-find-match-only"]
	path = lz4-find-match-only
	url = https://github.com/Qualenritter/PageBasedCompressionInTheLinuxKernel.git
	branch = lz4-find-match-only
[submodule "lz4-no-inline"]
	path = lz4-no-inline
	url = https://github.com/Qualenritter/PageBasedCompressionInTheLinuxKernel.git
	branch = lz4-no-inline
